<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7t-ArT5mhbahv9fnn468Wd-XZXF_6c_p5fA&usqp=CAU">
      </ion-avatar>
    </ion-buttons>
    <ion-title>Entertainment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item>
    <ion-label (click)="goDj()">DJs</ion-label>
    <ion-avatar slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlEoqAjxzORueyHDhh_LG5z52Iut20AqrK-w&usqp=CAU">
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-label (click)="goEvents()">Events</ion-label>
    <ion-avatar slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFRZNdRvDbaOgz28qHAqpRuSZCQsVNWfldHA&usqp=CAU">
    </ion-avatar>
  </ion-item>
</ion-list>
</ion-content>
