.margin{
    margin-top: 30px;
}

.text-center{
    
    text-align: center;
    background-color: darkturquoise;
}

.text-center2{
    text-align: center;
    background-color: darkmagenta;
}

.text-center3{
    text-align: center;
    background-color: goldenrod;
}

.text-center4{
    text-align: center;
    background-color: gold;
}

.text-center5{
    text-align: center;
    background-color: darkgreen;
}
.text-center6{
    text-align: center;
    background-color: chartreuse;
}

ion-icon {
    
    font-size: 70px; //Preferred size here
}