<ion-header>
  <ion-toolbar color="primary">
    <ion-title>WELCOME TO SEABE APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
     <ion-col col-6>
         <ion-card class="text-center">
          <ion-icon name="bag-add-outline"></ion-icon>
            <h2>Jobs</h2>
         </ion-card>
         <ion-card class="text-center">
          <ion-icon name="school-outline"></ion-icon>
          <h2>Schools</h2>
       </ion-card>
       <ion-card class="text-center">
        <ion-icon name="briefcase"></ion-icon>
        <h2>Business</h2>
     </ion-card>
     </ion-col>
     <ion-col col-6>
      <ion-card class="text-center">
        <ion-icon name="newspaper-outline"></ion-icon>
         <h2>News</h2>
      </ion-card>
      <ion-card class="text-center">
        <ion-icon name="chatbubbles-outline"></ion-icon>
       <h2>Moghozi</h2>
      </ion-card>
      <ion-card class="text-center">
       <ion-icon name></ion-icon>
       <h2>Jobs</h2>
    </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
