<ion-header>
  <ion-toolbar color="primary">
    <ion-title>WELCOME TO SEABE APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
     <ion-col col-6 class="margin">
         <ion-card class="text-center" (click)="card1()">
          <ion-icon name="bag-add-outline"></ion-icon>
            <h2>Jobs</h2>
         </ion-card>
         <ion-card class="text-center2" (click)="card2()">
          <ion-icon name="school-outline"></ion-icon>
          <h2>Schools</h2>
       </ion-card>
       <ion-card class="text-center3" (click)="card3()">
        <ion-icon name="briefcase"></ion-icon>
        <h2>Business</h2>
     </ion-card>
     </ion-col>
     <ion-col col-6 class="margin">
      <ion-card class="text-center4" (click)="card5()">
        <ion-icon name="newspaper-outline"></ion-icon>
         <h2>News</h2>
      </ion-card>
      <ion-card class="text-center5" (click)="card4()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
       <h2>Moghozi</h2>
      </ion-card>
      <ion-card class="text-center6">
       <ion-icon name="home"></ion-icon>
       <h2>Home</h2>
    </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
