<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="jobs">
      <ion-icon name="bag-add-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="schools">
      <ion-icon name="school-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="business">
      <ion-icon name="briefcase"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="moghozi">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>