<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Schools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label (click)="goMalontone()">Malontone Primary School</ion-label>
      <ion-avatar slot="start">
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ91yW1FxHdV_i43WWFwsFD1biXtzuJIGDLHQ&usqp=CAU">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="goMadiboane()">Madiboane Primary School</ion-label>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ91yW1FxHdV_i43WWFwsFD1biXtzuJIGDLHQ&usqp=CAU">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="goMadimo()">Mmadimo Primary School</ion-label>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ91yW1FxHdV_i43WWFwsFD1biXtzuJIGDLHQ&usqp=CAU">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="goKgope()">Kgope Primary School</ion-label>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ91yW1FxHdV_i43WWFwsFD1biXtzuJIGDLHQ&usqp=CAU">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="goRamoshidi()">Ramoshidi Secondary School</ion-label>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ91yW1FxHdV_i43WWFwsFD1biXtzuJIGDLHQ&usqp=CAU">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label (click)="goSeabe()">Seabe High School</ion-label>
      <ion-avatar slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ91yW1FxHdV_i43WWFwsFD1biXtzuJIGDLHQ&usqp=CAU">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>